body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #21242E;
    margin-top:60px;
    position: relative;
    --webkit-overflow-scrolling: touch;
    margin-right: -430px;
}

*{
    --webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
	background-color:#21202E;
}

*::-webkit-scrollbar{
	width:15px;   
	background-color:#21242E;
}
#playlist_box::-webkit-scrollbar{
    width:5px;
}
.songs_list::-webkit-scrollbar{
    height:5px;
}
body::-webkit-scrollbar-thumb{
    width: 15px;
}

*::-webkit-scrollbar-thumb
{   cursor: pointer;
	border-radius:50px;
/*    width: 15px;*/
/*    height: 10px;*/
/*    border:5px solid black;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#B2b2b2;
}


*:focus{
    outline: none;
}
.left{float: left;}
.right{float: right;}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.fa-search{
/*    display: none;*/
}
header{
    position:fixed;
    top: 0px; 
    width: 100%;
    height: 60px;
    z-index: 100;
    overflow: hidden;
    background-color: #21242E;
    text-transform: capitalize;
    border-bottom: 1px solid black;
}

header a{
    color: #B2B2B2;
    font-weight:500;
    font-size: 14px;
}
#logo{
    margin-left:30px;
    margin-right:20px;
    display: inline-block;
    float: left;
    padding:5px 0px;
}

#logo a{   
    font-family: cursive;
    text-transform:lowercase;
    font-size:30px;
    text-decoration: none;
    color: #FF3C00;
}
header ul li{
    padding: 20px 13px;
    color: #B2b2b2;
    cursor: pointer;
    text-transform: uppercase;
}
nav{
    display: inline-block;
    float: left;
}
nav ul li:hover{
    color:orangered;
}

.nav2{
/*    padding-left:56.5%; */
    float:right;
}
.nav2 ul li{
    padding:20px 20px;
}
.nav2 ul li:nth-child(n+3)  {
    padding:0px;
}
.nav2 ul li:nth-child(n+3) a{
    padding:20px 23px;
}

.nav2 button,#clearQueue,#saveAsPlaylist{
    color: #FF3C00;
    background-color:#21242E;
    border-radius:60px;
    padding: 7px 15px;
    font-size: 11px;
    border-color:#FF3C00;
    margin:-10px 0px;
}

.nav2 button:hover,#saveAsPlaylist{
    color: white;
    background-color: #FF3C00;
}
#saveAsPlaylist,#clearQueue{
    margin: 5px 5px 0px; 
}
#queueName{
    margin: 10px;
}
.nav2 #download_app{
    color:#B2B2B2;
    font-weight: 600;
    padding:12px; 
}
header .fa{
    font-size:28px;
    margin:0px 5px;
}
header .fa:hover{
    color: white;
}

.nav3{
    width: 100%;
    box-shadow: 1px 0px 5px black;
    background-color: #222428;
    margin-bottom: 10px;
    display: none;
}
.nav3 ul{
    margin: 0px;
    padding: 0px;
    display:flex;
    
    width: 100%;
}
.nav3 ul li{flex:1;
color:white;
    border-right: 1px solid black;
    cursor: pointer;
text-align: center;
list-style: none;
padding:10px 0px; }

.nav3 ul .active_nav{
    color:orangered;
    border-bottom:2px solid orangered;
}


#search_box{
    margin:10px 0px;
    display:none;
}
#search_box .fa{
    background-color: orangered;
    padding: 13px 14px;
/*    margin: -11px 2px;*/
    font-size: 18px;
    font-weight:100;
    color: white;
    margin: 10px 5px;
    float:left;
    border-radius:150%;
}



#login a{
    color:orangered;
}
#language{
    font-size:15px;
    padding:0px;
    margin:-5px;
}


#search_music{
    position:fixed;
    z-index:15;
    top:60px;
    display:block;
    width:100%;
    background-color:rgba(33,36,46,0.8);
    left:0px;
    padding:10px;
}
#search_music .btn{
    padding:1px;
    width:45%;
/*    display:none;*/
    margin-left:20px;
/*    margin-top: 10px;*/
    border-radius:50px;
}
#search_music input[type="text"]{
    width:75%;
    margin-left:20px;
    height: 25px;
    border: none;
    background-color: transparent;
    
}

#search_music input[type="text"]:focus{
    outline:none;
}
.search .fa{
    margin-right:10px;
}
.search a{
    font-size:30px;
    color: white;
}

#search_music .search{
    padding:10px;
    color: white;
    width:21%;
    background-color: orangered;
    margin-left:0px;
}

.fa:hover,a:hover{color: white;}
.trending{
    border-radius:50px;
    padding: 7px 10px;
    margin:auto 10px;
    color:orangered;
    background-color: black;
    text-transform: capitalize;
}


aside{
    width:76%;
    margin-top:130px;
/*    padding-top:0px;*/
    margin-right: 10px;
    padding-bottom:100px;
}

#get_ganna{
    vertical-align:super;
}

#songs{
    background-color: black;
    color: white;
}
#songs .container{
    margin: auto;
    letter-spacing:1px;
    max-width:89%;
    padding:0px;
    z-index: 3;
}


.text_right{text-align: right;}

.col-xs-6{
    padding:2px;
}

*{margin: 0px;
padding: 0px;
box-sizing: border-box;}

.card_box{
    padding-bottom:40px;
    border-bottom:1px solid #B2B2B2;
    position: relative;
	   -webkit-overflow-scrolling: touch;
}


.music_list_type h4,h5{
    padding:0px;
    color: #5B5B5B;
    padding:20px 0px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-left:0px;
}

.music_list_type h4 a,.music_list_type h5 a{
     color: #5B5B5B;
    padding:20px 0px;
    text-transform: uppercase;
}

a:hover,.viewall:hover{text-decoration: none;
color: white;}
.music_list_type .fa{
    margin-left: 5px;
    font-size: 17px;
}

.music_list_type h5 a{
    text-transform: capitalize;
    padding:21px 0px; 
    font-size:13px;
}
.songs_list{
    display: flex;
    flex-wrap:nowrap;
    overflow-x:scroll;
    max-width: 100%;
	   --webkit-overflow-scrolling: touch;
	
}

.songs_box{
    max-width:136px;
    min-width:136px;
    min-height:136px;
    margin-right:20px;
}
.item{
/*    margin-right:20px;*/
}
.song_obj{display: none;}
.song_image{
    max-height:150px;
    max-width:150px;
    border-radius:10px;
    position: relative;
}

#songs .thumb img{
 border-radius:5px;    
}

.play_icon{
    display: none;
    position:absolute;
    top:45px;
    left:45px;
}

.play_icon .fa{
    font-size: 30px;
    background-color:black;
    opacity: 0.95;
    color: #B2B2B2;
    padding:10px 10px 10px 15px;
    border-radius:100%;
    
}

#songs .thumb:hover .play_icon{
    display: block;
}
#songs .thumb:hover{cursor: pointer;}

.play_icon .fa:hover{
    color: white;
    opacity: 1;
    background-color: black;
}
.description{
    overflow: hidden;
    padding:10px;
    max-width:116px;
    text-transform: capitalize;
    font-size:12px;
    cursor: pointer;
}
.description span{
    max-height:15px;
    display: block;
    overflow: hidden;
}

a{color: white;}


.left_scroll,.right_scroll{
    position:absolute;
    top:45%;
    z-index:5;
    font-size:30px;
    color:#B2B2B2;
}
.left_Scroll:hover a,.right_scroll:hover a{
    color: white;
}

.left_scroll{float: left;
left:-30px;}
.right_scroll{float: right;
right:-30px}


#songs .container .card_box:nth-element(even):after{
   content:"";
    height:50px;
    display:block;
    background-color:#21242E;
}


.footer-grp{
    display: flex;
}

.foo-grp-inner h3 a{
    font-weight: 900;
    font-size: 14px;
}
.foo-grp-inner a,.desktop a{
    display: block;
    color: #B2B2B2;
    font-size: 12px;
}

.desktop a{
    display: inline-block;
    padding-right:1px;
    font-size: 11px;
    border-right:1px solid #B2B2B2;
}
.desktop{margin-bottom: 20px;}
.followus,.footer_note,.foo-links{text-align:center;}

.facebook,.gplus,.twitter{
   font-size: 25px;
    margin:0px 15px;
    padding:5px 5px 5px 15px;
    border-radius:100% 100%;
    transition: 1s;
}

.facebook:hover,.gplus:hover,
.twitter:hover{
    transform:scale(1.2,1.2);
    transition:1s; 
}

.facebook{background-color:#3C579A;}
.gplus{background-color:#DF4B3F ;}
.twitter{background-color: #44CEF5;}




.mobile{display: none;}

.footer_note{
    font-size: 12px;
    margin:30px 0px;
}

.foo-grp{
    flex: 1;
}
.copyright{
    text-align: center;
    font-size:12px;
} 

footer{margin:0px;}


.card_box .album_name{
    display:none;
}

















/*https://fathomless-fortress-96797.herokuapp.com/ | https://git.heroku.com/fathomless-fortress-96797.git*/






.footer{
    position:fixed;
    bottom:0px;
    height:65px;
    z-index:110;
    width:100%;
    display:none;
/*    position:relative;*/
    background-color:#36383d;
}
.footer audio{
    display:none;
/*    padding:10px 0px; */
}

.footer .queue{
    position:absolute;
    top:-30px;
    z-index:2;
    left:17.5%;
/*    text-align: center;;*/
    width:65%;
    height:450px; 
    margin:auto;
    padding: 0px;
/*    transform:translateY(410px);*/
    transition:1s;
}

.toggle_queuelist{
    transform:translateY(-410px);
    transition: 1s;
}

.footer ul li .thumb{
    max-height:40px;
    max-width:40px;
}
.footer #queuelist_options:hover{
    background-color:#36383d ;
}
.footer .thumb{
    display:inline-block;
    max-height:45px;
    max-width: 45px;
    
}
.footer li ,.footer a{color: white;
    cursor: pointer;
    background-color:#36383d;
text-decoration: none;
list-style: none;}


.song_name,.movie_name{
/*display: inline-block;*/
margin-right:12px;
}

.footer ul li:hover,.queue ul li .active{
    background-color: #232429;
}

.queue_buttons{
    width: 80%;
    text-align: right;
}
.open_queue:hover{
    background-color:#36383d;
}
.footer ul{
    padding:0px;
    margin:0px;
/*    height: inherit;*/
    position:relative;
}

.none{
    display:none;
}
#playlist_box{
    background-color:#36383d;
    height:350px;
    overflow-y:scroll;
    display: block;
    -webkit-overflow-scrolling:touch;
    border-right:2px solid #212121;
    border-left:2px solid #212121;
}
/*
#playlist_box .inner_playlist_box {
    overflow-y: scroll;
}
*/

.footer ul li{

    display: flex;
    padding:10px;
    border-bottom: 1px solid #B2B2B2;
}
.queue .thumb{
    margin-right: 20px;
}
.songs_details{
    width:55%;
}
.album_details{width:30%;}
.footer li div span{
    display:block;
    color: #fff;
    font-size: 12.5px;
    font-weight:500;
    letter-spacing:1px;
    max-height: 40px;
    overflow: hidden;
    padding:10px 0px 0px;
    text-transform: capitalize;
    margin:0px;
}

.dropup{
display: none;
height:0px;
width:20px;
}
.dropup button{
    border:none;
    background-color: transparent;
    letter-spacing:2px;
    font-size: 20px;
    margin-top:5px;
}

.dropdown-menu{
    background-color:#21242E;
    color:white;
    height: auto;
    box-shadow:1px 1px 10px 1px lightblack;
    text-transform:capitalize;
/*    z-index:120;*/
    font-size: 12px;
    cursor: pointer;
}
.queue ul li .dropdown-menu
{ left:-150px;}

.footer ul li:hover .dropup{
    display: block;
}

.player div{
    display: inline-block;
}

.player .thumb{
    margin: 10px 10px 0px 10px;
}
.player span{
    color: white;
    text-transform:capitalize;
    font-size: 12px;
}


.player_song_details{
    margin-top:10px;
    width: 14%;
    min-width:150px;
}

#player_song_name{
    display:block;
    font-size:12px;
    font-weight:500;
    max-height:18px;
    margin:0px;
    font-weight:500;
/*    text-transform: uppercase;*/
    margin-top:5px;
/*    margin-bottom:0px;*/
/*    padding-bottom:0px;*/
    overflow:hidden;
}

#player_album_name{
    color:#B2B2B2;
}

.player{
    height: inherit;
    position: fixed;
    bottom: 0px;
    z-index:120;
    width: 100%;
    background-color: #36383d;
/*    border-top: 1px solid black;*/
}


#queueUl{
    height: inherit;
}
.open_queue .fa{
    margin-left:15px;
    font-size:20px;
}
.queue{color: white;}
.open_queue{
    display: block;
/*    position:absolute;*/
    top:-40px;
    width: 20%;
    min-width:150px;
    text-align:center;
    z-index:1000;
    margin-left:40%; 
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color:#36383d;
    font-size:12px;
    color:white;
    padding:5px;
}


.audio_player #ui_player a{
    display:inline-block;
    height:60px;
/*    min-width:50px;*/
}
#ui_player a{text-align: center;}

#ui_player .fa{
    font-size: 20px;
/*    font-weight:900;*/
/*    word-spacing: 5px;*/
    color:#B2B2B2;
    padding:24px;
    vertical-align: middle;
/*    /margin-right: 20px;*/
    
}
#ui_player .fa:hover{
    color:white;
}

#quality a div{
display: block;
font-size:11px;
letter-spacing:1px}
#quality .fa{
/*    padding-top:10px;*/
    padding:0px 20px;
}
#playorpause{
    vertical-align:middle;
}

#playorpause .fa{
    font-size:30px;
    color:orangered;
    padding:16px 20px;
    vertical-align:middle;
    text-align: center;
}
#playorpause .fa:hover,#loop .fa,#loop .fa:hover{
    color:orangered;
}
#ui_player .border-right{
    height:65px;
    text-align: center;
    border-right:1px solid black;
}
#volume_box{
    position:relative;
}
#volume_manager{
    background-color:#36383d; 
    padding:5px 20px;
    position:absolute;
    text-align:center;
/*    display: none;*/
    z-index:100;
    bottom:40px;
    left: 10px;
    border-radius:5px;
    box-shadow:0px 0px 20px 0px black;
}

#volume_slider{
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
/*
    -webkit-transform:rotate(90deg);
    width:100px;
    margin-left:-50px;
*/
}

#music_progress input[type="range"]{
    width:20%;
}
#ui_player{
    width:100%;
}
.audio_player{width:80%;}
.main_player{flex:7;}
#shuffle{flex: 1.5;}
#quality{flex: 0.75;}
#quality div{
    margin-top: 5px;
    font-size: 12px;
}
#quality .fa{
    font-size:30px;
}
#options_player{flex: 0.75;}

#ui_player{
    width:100%;
    display: flex;
}

#music_progress{
    width:58%;
    vertical-align:middle;
}
.song_time{
    margin-top:10px;
}
#music_progress input[type="range"]{
    width:100%;
    margin-top:10px;
}




input[type="range"]{
  --webkit-appearance:none;
/*    Hides the slider so that custom slider can be made */
  width:7px;  
/*    Specific width is required for Firefox. */
  background-color:transparent; 
}

input[type=range]:focus {
  outline: none; }

input[type="range"]::-ms-track {
  width:100%;
  cursor:pointer;
  background:transparent; 
  border-color:transparent;
  color:transparent;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  border:2px solid orangered;
  height:12px;
  width:12px;
  border-radius:100%;
  background:transparent;
  cursor: pointer;
  margin-top:-5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0px 0px 2px orange; 
}



input[type="range"]::-webkit-slider-runnable-track {
  width:60%;
  height:2px;
  cursor:pointer;
  background:#606060;
  border-radius:0px;
}
#volume_slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    margin:-8px;
    border-radius:20px;
    margin-top:0px;
}



#volume_manager{
/*    display:block;*/
}
/*#ui_player button{display:inline-flex;}*/
#quality ul{
    left:-40px;
    top:-170px;
    min-width:100px;
}
#options_player ul{
    left:-80px;
    top:-230px;
    min-width: 150px;
}
#quality button{
    margin:0px;
    margin-left:-25px
}
#options_player button{
    font-size:30px;
    font-weight: 900;
    margin-left:25px
}

.img-loading{
    height:45px;
    width:45px;
    padding:7px 0px;
    box-sizing:initial;
}

#options_player button:focus{outline: none;}

.none{
 display:none;
 opacity:0;
}

.ui-widget-content{border: none;}





























/*owl carosel css overrode*/
/*

.songs_list{
    overflow-x: hidden;
}
*/

.song_image{
    max-width: 136px;
    max-height: 136px;
}

.owl-item{
    width:auto;
    
}
